@charset "UTF-8";

/* body {
    background-color: #f0f0f0; 배경 색상: 연한 회색
}
.container {
    background-color: #f0f0f0; 배경 색상: 연한 회색
}
 */
.b-divide {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em
		rgba(0, 0, 0, .15);
}

.box {
	height: 600px;
	border-radius: 5px;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
	background: #fbfcee;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.wave {
	opacity: 0.4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: #0af;
	width: 500px;
	height: 500px;
	margin-left: -250px;
	margin-top: -250px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	-webkit-animation: drift 3000ms infinite linear;
	animation: drift 3000ms infinite linear;
}

.wave.-three {
	-webkit-animation: drift 5000ms infinite linear;
	animation: drift 5000ms infinite linear;
}

.wave.-two {
	-webkit-animation: drift 7000ms infinite linear;
	animation: drift 7000ms infinite linear;
	opacity: 0.1;
	background: yellow;
}

.box:after {
	content: "";
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0)
		80%, rgba(255, 255, 255, 0.5));
	z-index: 11;
	transform: translate3d(0, 0, 0);
}

.title {
	position: absolute;
	left: 0;
	top: 30%; /* 타이틀을 화면의 상단에서 30% 위치에 배치 */
	width: 100%;
	z-index: 1;
	line-height: 50px; /* 타이틀의 높이를 줄임 */
	text-align: center;
	transform: translate3d(0, -50%, 0);
	color: white;
	text-transform: uppercase;
	font-family: "Playfair Display", serif;
	letter-spacing: 0.4em;
	font-size: 24px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	text-indent: 0.3em;
}

.small-title {
	position: absolute;
	left: 0;
	top: 50%; /* 타이틀 아래에 배치 */
	width: 100%;
	z-index: 1;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: "Playfair Display", serif;
	letter-spacing: 0.4em;
	font-size: 16px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	text-indent: 0.3em;
}

@
-webkit-keyframes drift {from { transform:rotate(0deg);
	
}

from {
	transform: rotate(360deg);
}

}
@
keyframes drift {from { transform:rotate(0deg);
	
}

from {
	transform: rotate(360deg);
}

}
body.theme-light {
	background-color: #ffffff;
	color: #000000;
}
/* Dark theme */
body.theme-dark {
	background-color: #121212;
	color: #ffffff;
}
/* Auto theme */
body.theme-auto {
	background-color: #f0f0f0;
	color: #000000;
}